@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

:root {
  --primary-color-light: #ffffff;
  --primary-color-dark: #2a2a2a;
  --secondary-color-light: #000000;
  --secondary-color-dark: #ffffff;
  --tertiary-color-light: #083b7c;
  --tertiary-color-dark: #000dc0;
  --text-color-light: #242424;
  --text-color-dark: #e0e0e0;
  --shadow-color-light: rgba(0, 0, 0, 0.15);
  --shadow-color-dark: rgba(255, 255, 255, 0.15);
}


[data-theme="light"] {
  --primary-color: var(--primary-color-light);
  --secondary-color: var(--secondary-color-light);
  --tertiary-color: var(--tertiary-color-light);
  --text-color: var(--text-color-light);
  --shadow-color: var(--shadow-color-light);
}

[data-theme="dark"] {
  --primary-color: var(--primary-color-dark);
  --secondary-color: var(--secondary-color-dark);
  --tertiary-color: var(--tertiary-color-dark);
  --text-color: var(--text-color-dark);
  --shadow-color: var(--shadow-color-dark);
}

body {
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

p, h1, h2, h3, li {
  cursor:default;
}


.btn {
  background: var(--tertiary-color);
  color: #ffffff;
  font-weight: 500;
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 12px;
  cursor: pointer;
  border: 0;
  outline: 0;
  transition: background 0.3s, transform 0.3s;
  box-shadow: 1px 1px 8px var(--secondary-color);
}

.btn:hover {
  border: 1px solid var(--secondary-color);
  background: var(--primary-color);
  color: var(--tertiary-color);
  transform: translateY(-2px);
}


.container {
  padding-left: 10%;
  padding-right: 10%;
}

.space {
  margin: 60px;
}

.page-content {
  position: relative;
  transition: opacity 0.5s ease-in-out;
}

.page-transition-enter {
  opacity: 1;
}

.page-transition-exit {
  opacity: 0;
}

@media (max-width: 768px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .btn {
    padding: 10px 15px;
    font-size: 16px;
  }

  .space {
    margin: 30px;
  }
}

@media (max-width: 480px) {

  .container {
    padding-left: 3%;
    padding-right: 3%;
  }

  .btn {
    padding: 10px 16px;
    font-size: 16px;
  }

  .space {
    margin: 20px;
  }
}
